{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/profileent.css' %}">
</head>

<body>
    <div class="container">
        {% include 'side_bar.html' %}
        <div class="main">
            <div class="header">
                <div class="title"><h2>name_entreprise :</h2></div>
                <div class="buttons">
                    <a href="{% url 'update-entreprise' entreprise.id %}"><div class="button modify">Modify</div></a>
                    <a href="{% url 'delete-entreprise' entreprise.id %}"><div class="button delete">Delete</div></a>
                </div>
            </div>
            <div class="cardBox">
                    <div class="card">
                        <div>
                            <div class="numbers">{{etudiants.count}}</div>
                            <div class="carName">Encadreur</div>
                        </div>
                        <div class="iconBx">
                            <ion-icon name="people-outline"></ion-icon>
                        </div>
                    </div>

                    <div class="card">
                        <div>
                            <div class="numbers">{{promoteurs.count}}</div>
                            <div class="carName">PFE</div>
                        </div>
                        <div class="iconBx">
                            <ion-icon name="document-outline"></ion-icon>
                        </div>
                    </div>

                    <div class="card">
                        <div>
                            <div class="numbers">{{stages.count}}</div>
                            <div class="carName">Ouvrier</div>
                        </div>
                        <div class="iconBx">
                            <ion-icon name="document-outline"></ion-icon>
                        </div>
                    </div>

                    <div class="card">
                        <div>
                            <div class="numbers">{{entreprises.count}}</div>
                            <div class="carName">Technique</div>
                        </div>
                        <div class="iconBx">
                            <ion-icon name="document-outline"></ion-icon>
                        </div>
                    </div>

            </div>
            <div class="graphBox">
                <div class="box">
                    <canvas id="myChart"></canvas>
                </div>
                <div class="box">
                    <canvas id="myChart2"></canvas>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
    <script>
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['a', 't', 'b', 'z'],
                datasets: [{
                label: 'My First Dataset',
                data: [65, 59, 80, 81],
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        const ctx2 = document.getElementById('myChart2').getContext('2d');
        const myChart2 = new Chart(ctx2, {
            type: 'line',
            data: {
                labels: ['a', 't', 'b', 'z'],
                datasets: [{
                label: 'My First Dataset',
                data: [65, 59, 80, 81],
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>