{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/etudiant.css' %}">
    <title>Document</title>
</head>

<body>
    <div class="container">
        {% include 'side_bar.html' %}
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
                <div class="search">
                    <form action="{% url 'etudiants-list' %}" method="GET">
                        <label>
                           <input type="text" name="q" placeholder="Search...">
                           <a href=""><ion-icon name="search-outline"></ion-icon></a>
                      </label>
                    </form>
                </div>
            </div>
            <div class="etudiants">
                <div class="cardHeader">
                    <h2>Etudiants :</h2>

                </div>
                <table>
                    <thead>
                        <td>ID</td>
                        <td>Nom</td>
                        <td>Prenom</td>
                        <td>Type Stage</td>
                        <td>Entreprise</td>
                        <td>Promoteur</td>
                        <td>Encadreur</td>
                        <td>Annee de stage</td>
                    </thead>
                    <tbody>
                        {% for etudiant in etudiants %}
                        <tr>
                            <td><a href="{% url 'etudiant-profile' etudiant.id %}">{{etudiant.id}}</a></td>
                            <td>{{etudiant.nom}}</td>
                            <td>{{etudiant.prenom}}</td>
                            <td><span class="statusStage">{{etudiant.groupe.stage.palier}}</span></td>
                            <td>{{etudiant.groupe.entreprise}}</td>
                            <td>{{etudiant.groupe.promoteur}}</td>
                            <td>{{etudiant.groupe.encadreur}}</td>
                            <td>
                                <a href="{% url 'home' %}">{{etudiant.groupe.stage.annee_stage.annee}}</a>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <script src="{% static 'js/index.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>