{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/profilepage.css' %}">
    <title>{{fiche.id}}</title>
</head>

<body>
    <div class="container">
        {% include 'side_bar.html' %}
        <div class="main">
            <div class="profile">
                <table>
                    <thead>
                        <td>ID</td>
                        <td>Groupe</td>
                        <td>Promoteru</td>
                        <td>Encadreur</td>
                        <td>Stage</td>
                        <td>Note promoteur</td>
                        <td>Note Encadreur</td>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{fiche.id}}</td>
                            <td>{{fiche.groupe}}</td>
                            <td>{{fiche.promoteur}}</td>
                            <td>{{fiche.encadreur}}</td>
                            <td>{{fiche.groupe.stage}}</td>
                            <td>{{fiche.promoteur_note}}</td>
                            <td>{{fiche.encadreur_note}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="buttons">
                <a href=""><div class="button modify">Modify</div></a>
                <a href=""><div class="button delete">Delete</div></a>
            </div>
        </div>
    </div>


    <script src="{% static 'js/index.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>
